[Unit]
Description=kadira-engine
[Service]
Type=simple
User=kadira
WorkingDirectory=/home/kadira
ExecStart=/bin/bash -c "source kadira-server/init-shell.sh; cd kadira-server/kadira-engine; ./run.sh"
Restart=on-abort
[Install]
WantedBy=multi-user.target
