[Unit]
Description=kadira-rma
[Service]
Type=simple
User=ubuntu
WorkingDirectory=~
ExecStart=/bin/bash -c "source kadira-server/init-shell.sh; cd kadira-server/kadira-rma; ./run.sh"
Restart=on-abort
[Install]
WantedBy=multi-user.target
